{{> header}}
<main>
    <div>
        <div class="slider">
            <ul class="slides">
                <li>
                    <img class="slides" src="img/slide1.jpg" alt="Slide 1">
                    <div class="caption center-align">
                        <h3>Best Trends</h3>
                        <h5 class="section light red-text text-darken-3" style="background-color: rgba(255, 255, 255, 0.5);">A good way to make your flow more fun</h5>
                    </div>
                </li>		
                <li>
                    <img class="slides" src="/img/slide2.jpg" alt="Slide 2">
                    <div class="caption center-align">
                        <h3>Best Trends</h3>
                        <h5 class="section light red-text text-darken-3" style="background-color: rgba(255, 255, 255, 0.5);">A good way to make your flow more fun</h5>
                    </div>
                </li>		
                <li>
                    <img class="slides" src="/img/slide3.jpg" alt="Slide 3">
                    <div class="caption center-align">
                        <h3>Best Trends</h3>
                        <h5 class="section light red-text text-darken-3" style="background-color: rgba(255, 255, 255, 0.5);">A good way to make your flow more fun</h5>
                    </div>
                </li>		
                <li>
                    <img class="slides" src="/img/slide4.jpg" alt="Slide 4">
                    <div class="caption center-align">
                        <h3>Best Trends</h3>
                        <h5 class="section light red-text text-darken-3" style="background-color: rgba(255, 255, 255, 0.5);">A good way to make your flow more fun</h5>
                    </div>
                </li>		
                <li>
                    <img class="slides" src="/img/slide5.jpg" alt="Slide 5">
                    <div class="caption center-align">
                        <h3>Best Trends</h3>
                        <h5 class="section light red-text text-darken-3" style="background-color: rgba(255, 255, 255, 0.5);">A good way to make your flow more fun</h5>
                    </div>
                </li>				
            </ul>
        </div>
    </div>
    <div class="container">
        <h3 class="center">About Us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium est explicabo ab. Ea architecto, deserunt delectus esse facilis neque magni harum fugiat ipsa soluta dolores tenetur assumenda doloribus quam veritatis laudantium. Modi non voluptatem, maxime laudantium sunt hic dolores maiores. Totam suscipit accusamus amet assumenda pariatur debitis quae nam mollitia?</p>
        <br><br><br>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="/img/parallax2.jpg"></div>
        <h2 class="white-text">You'll have to figure out what I'll write here too...</h2>
    </div>
</main>
<footer>
    <br>
    <br>
    <br>
    <br>
    <p class="center"><i class="mdi mdi-copyright"></i>Copyright NCP Pensions - 2018</p>
    <br>
    <br>
    <br>
</footer>