{{> header}}
 <div class="row" style=" padding :30px 45px 15px 45px">
    <div class ="row">
    <form class="col s12" method="POST" action="/admins/upload">
    <div class="row">   
        <div class="input-field col s6">
          <input name="day1" id="first_name" type="text" class="validate">
          <label for="first_name">day</label>
        </div>
        <div class="input-field col s6">
         <input name="department1" id="first_name" type="text" class="validate">
          <label for="first_name">Enter Department</label>
        </div>
        <div class="input-field col s6">
          <input name="level1" id="first_name" type="text" class="validate">
          <label for="first_name">Enter level</label>
        </div>
        <div class="input-field col s6">
          <input name="time1" id="first_name" type="text" class="validate">
          <label for="first_name">Enter Time Of Exam</label>
        </div>
        <div class="input-field col s6">
          <input name="hall1" id="first_name" type="text" class="validate">
          <label for="first_name">Enter Hall</label>
        </div>
        <div class="input-field col s6">
          <input name="paper1" id="first_name" type="text" class="validate">
          <label for="first_name">Curse</label>
        </div>
      </div>

      <div class="row">   
        <div class="input-field col s6">
          <input name="day2" id="first_name" type="text" class="validate">
          <label for="first_name">day</label>
        </div>
        <div class="input-field col s6">
         <input name="department2" id="first_name" type="text" class="validate">
          <label for="first_name">Enter Department</label>
        </div>
        <div class="input-field col s6">
          <input name="level2" id="first_name" type="text" class="validate">
          <label for="first_name">Enter level</label>
        </div>
        <div class="input-field col s6">
          <input name="time2" id="first_name" type="text" class="validate">
          <label for="first_name">Enter Time Of Exam</label>
        </div>
        <div class="input-field col s6">
          <input name="hall2" id="first_name" type="text" class="validate">
          <label for="first_name">Enter Hall</label>
        </div>
        <div class="input-field col s6">
          <input name="paper2" id="first_name" type="text" class="validate">
          <label for="first_name">Curse</label>
        </div>
      </div>

      <div class="row">   
        <div class="input-field col s6">
          <input name="day3" id="first_name" type="text" class="validate">
          <label for="first_name">day</label>
        </div>
        <div class="input-field col s6">
         <input name="department3" id="first_name" type="text" class="validate">
          <label for="first_name">Enter Department</label>
        </div>
        <div class="input-field col s6">
          <input name="level3" id="first_name" type="text" class="validate">
          <label for="first_name">Enter level</label>
        </div>
        <div class="input-field col s6">
          <input name="time3" id="first_name" type="text" class="validate">
          <label for="first_name">Enter Time Of Exam</label>
        </div>
        <div class="input-field col s6">
          <input name="hall3" id="first_name" type="text" class="validate">
          <label for="first_name">Enter Hall</label>
        </div>
        <div class="input-field col s6">
          <input name="paper3" id="first_name" type="text" class="validate">
          <label for="first_name">Curse</label>
        </div>
      </div>

      <div class="row">   
        <div class="input-field col s6">
          <input name="day4" id="first_name" type="text" class="validate">
          <label for="first_name">day</label>
        </div>
        <div class="input-field col s6">
         <input name="department4" id="first_name" type="text" class="validate">
          <label for="first_name">Enter Department</label>
        </div>
        <div class="input-field col s6">
          <input name="level4" id="first_name" type="text" class="validate">
          <label for="first_name">Enter level</label>
        </div>
        <div class="input-field col s6">
          <input name="time4" id="first_name" type="text" class="validate">
          <label for="first_name">Enter Time Of Exam</label>
        </div>
        <div class="input-field col s6">
          <input name="hall4" id="first_name" type="text" class="validate">
          <label for="first_name">Enter Hall</label>
        </div>
        <div class="input-field col s6">
          <input name="paper4" id="first_name" type="text" class="validate">
          <label for="first_name">Curse</label>
        </div>
        <button class="waves-effect waves-light btn" type="submit" name="submit" style="left : 50px; top : 27px">Post      
          <i class="mdi-content-send right"></i>
        </button>
      </div>
    </form>
 </dv>
{{> footer}}